@page "/btp"
@using BlazorApp.Components.Pieces

<PageTitle>BTP</PageTitle>

<div class="container-fluid text-primary mb-lg-5">
    <h1>BTPs (Buoni del Tesoro Poliennali)</h1>

    <p>
        BTP, short for "Buoni del Tesoro Poliennali," refers to long-term Italian government bonds with maturities typically
        ranging from three to thirty years. These bonds are issued by the Italian Treasury to finance government spending 
        and manage the country's debt obligations. BTP bonds are highly regarded in the financial markets for their stabil
        ity and relatively higher yields compared to shorter-term government securities like Bot bonds. 
    </p>
    <p>
        They attract a diver
        se range of investors, including pension funds, insurance companies, and individual investors, seeking to earn fixed
        interest income over an extended period while preserving capital. BTP bonds play a crucial role in Italy's public fi
        nance strategy, providing a reliable source of funding for government projects, infrastructure development, and other
        essential expenditures. Despite occasional fluctuations in market sentiment and interest rates, BTP bonds remain an i
        ntegral part of the Italian government's efforts to maintain fiscal stability and meet its financing needs..
    </p>

</div>

<BondList Instrument="BTP" />


@code {

}
